*{
    margin:0px;
    padding:0px;
}
html {
    scroll-behavior: smooth;
}
.button-normal{
    background-color: #e9571e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 40px;
    line-height: 54px;
    color: #222;
}

h3{
    font-size: 30px;
    line-height: 44px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: rgb(83, 81, 81);
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden !important;
    background-color: #eae9f5;
    
}

/*Search Bar*/
#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Style for the search input */
#search-input {
  padding: 10px;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  width: 250px;
  margin-right: 10px;
}

/* Style for the search button */
#search-button {
  padding: 10px 20px;
  background-color: #e9571e;
  color: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}


#center-text h1{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: #e04212;
    border-bottom: 4px solid #1a1a1a;
    border-image: linear-gradient(to right, #e9571e, #eae9f5) 4;

}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}
#header.scroll {
    transform: translateY(-100%);
}
#header img{
    margin-left: -30px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -30px;
    flex-grow: 1;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    text-align: center;
}
#navbar .nav-name{
    margin-top: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#navbar li a{
    text-decoration: none;
    color: #222;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: all 0.3s ease;
}

.cart-quantity{
    border-radius: 9px;
}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}
#navbar .site-name{
    font-size: 26px;
    font-weight: 700;
    background-image: linear-gradient(to right, #e9571e, #f4a72d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo{
    transition: all 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
}
#navbar li a:hover,
#navbar li a.active{
    color: #e9571e;
    
    
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #e9571e;
    bottom: -4px;
    position: absolute;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}
#hero{
    background-image: url("images/fQfm2i.jpg");
    height: 90vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h2{
    margin:10px 0;
}
#hero span{
    color: #e9571e;
}
#hero h1{
    color: #e9571e;
}

#hero button:hover{
    background-color: #a03308;
}
/*Shop*/
  
#product1{
    text-align: center;

}

#product1 #product-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}
#product1 .product{
    width: 16%;
    min-width: 230px;
    padding: 10px 12px;
    border: 1px solid #e9571e;
    border-radius: 25px;
    
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: all 0.3s ease;
    position: relative;
}
#product1 .product:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0, 0.3);
    transform: scale(1.06)
}
#product1 .product img{
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    
}
#product1 .product .description{
    text-align: start;
    padding: 10px 0;
}
#product1 .product .description span{
    font-size: 12px;
    color: #606063;
}
#product1 .product .description h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .product .description i{
    padding-top: 7px;
    padding-right: 2px;
    font-size: 14px;
    color: rgb(243, 181, 25)
}
#product1 .product .description h4{
    padding-top: 7px;
    font-size: 20px;
    font-weight: 700;
    color:#47ce42
}
#product1 .product .cart{
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
#product1 .product button:hover{
    background-color: #a03308;
}

#newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("images/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    color: #e2df0c;
}
#newsletter form{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 1px;
    outline: none;
}

#newsletter button:hover{
    background-color: #a03308;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 8px;
}

footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #041e42;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer .follow a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

#page-header{
    background-image: url("images/abstract-gf6485b927_1920.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#page-header h2, 
#page-header h4{
    color: #fff;
}


/* single product page */

#prodetails{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}


#prodetails .single-pro-image{
    width: 25%;
    margin-right: 50px;
}
#prodetails .single-pro-image img{
    width: 100%;
    border-radius: 10px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 20px;
}
#prodetails .single-pro-details input{
    width: 40px;
    height: 30px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}
#prodetails .single-pro-details button:hover{
    background-color: #a03308;
}
.product-text{
    display: none;
}

/* About Page */
#about-header{
    background-image: url("images/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#about-header h2, 
#about-header h3{
    color: #fff;
}

#about-head{
    display: flex;
    align-items: center;
}
#about-head img{
    width: 50%;
    height: auto;
}
#about-head div{
    padding-left: 20px;
    margin-left: 30px;
    margin-right: 100px;
}
#about-head p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}


/*New about page*/
.banner {
	background-image: url('images/banner-gab2e886d7_1920.jpg');
	background-size: cover;
	background-position: center;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.services {
	padding: 50px 0;
	background-color: #f9f9f9;
    text-decoration: none;
}

.services h2 {
	font-size: 36px;
	text-align: center;
}

.services ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.services li {
	margin: 20px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
    text-decoration: none;
    list-style: none;
}
.services li a{
    text-decoration: none;
    color: #1a1a1a;
}

.about {
	padding: 50px;
}

.about h2 {
	font-size: 36px;
	text-align: center;
}

/* Our story */
.our-story {
    
    padding: 20px 0;

}

.our-story h2 {
font-size: 36px;
margin-top: 10px;

text-align: center;
}


.our-story-text {
    padding: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    margin: 40px 100px 40px 100px;
}
.our-story-text p {
font-size: 18px;
line-height: 1.5;
margin-bottom: 20px;
}

/* FAQ and Policies*/
.faq {
    padding: 0 50px;
    padding-bottom: 20px;
    background-color: #f9f9f9;
}

.faq h2 {
    padding-top: 40px;
    margin-bottom: 30px;
    font-size: 36px;
    text-align: center;
}

.faq dl {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.faq dt,
.faq dd {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq dt {
    font-size: 18px;
    font-weight: bold;

}

.faq dt::after {
    content: "+";
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.faq dt.active::after {
    content: "-";
}

.faq dd {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    margin-left: 0;
    font-size: 16px;
    transform: translateY(-10px);
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}


/* Contact Page */
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#contact-details .contact-info{
    width: 80%;
    margin-bottom: 20px;
}

#contact-form{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px ;
    padding: 80px; border: 1px solid #ccc;
}
#contact-form img{
    width: 100%;
    height: auto;
    margin-top: 63px;
}
#contact-form h3{
    margin-bottom: 20px;
}
#contact-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#contact-form form input{
    width: 500px;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}
#contact-form form textarea{

    height: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    resize: none;
    
}
#contact-form form button:hover{
    background-color: #a03308;
}
.map{
    width: 600px;
    height: 400px;
    border: 2px solid #ccc;
}


/* Contact messege page */
#contact-messege-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 271px 0;
    border-radius: 1px;
    
}
#contact-messege-header h2{
    font-size: 30px;
    margin-bottom: 20px;
}
#contact-messege-header h1{
    font-size: 50px;
    margin-bottom: 40px;
}

/* Cart Page */

#cart-header{
    background-image: url("images/banner-1566274_1920.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#cart-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cart-item{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    
}

.item-info > *{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 40px;
    
}
.cart-item img{
    width: 20%;
    
}
.cart-item input{
    width: 20%;
}
.cart-item button{
    width: 60%;
}
.cart-item button:hover{
    background-color: #a03308;
}
.cart-item-description{
    width: 60%;
    padding-left: 40px;
}
#total-price{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 40rem;
    padding: 20px;
}
/*Gradient border*/
.total-price-border{
    padding: 10px 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.total-price-border button{
    width: 20%
}
.total-price-border button:hover{
    background-color: #a03308;
}
.gradient-border{
    padding-top: 20px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    
}
.orange-gradient-border{
    border-image-source: linear-gradient(to left, #e04212, #a03308);

}


@media screen and (max-width: 799px){
    #contact-form{
        padding: 20px;
    }
    #contact-form form input{
        width: 300px;
    }
    .map{
        width: 400px;
        height: 300px;
    }
    body{
        overflow-x: hidden;
    }
    html{
        overflow-x: hidden;
    }
    .section-p1{
        padding: 40px 40px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -400px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0,0,0,0.01);
        padding: 80px 0 0 10px;
        transition: all 0.3s ease;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #navbar .nav-name{
        width: 80%;
        margin-top: 28px;
        margin-right: 2rem;
    }
    #navbar.active{
        right: 0px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
        color: #1a1a1a;
        cursor: pointer;
    }
    #mobile-nav-cart{
        display: none;
    }
    .cart-quantity{
        display: none;
    }
    #hero{
        height: 90vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #newsletter .form{
        width: 70%;
    }
    #about-head{
        flex-direction: column;
    }
    #about-head img{
        width: 100%;
    }
    #about-head div{
        padding-left: 0;
    }
    #about-head p{
        font-size: 14px;
    }
    
}


@media screen and (max-width: 477px){
    #contact-form form input{
        width: 200px;
    }
    #contact-form form textarea{
        width: 200px;
    }
    .map{
        width: 300px;
        height: 250px;
    }
    .logo {
        padding-left: 20px;
    }
    .section-p1{
        padding: 20px;
    }
    #header{
        padding: 10px 30px;
    }
    h2{
        font-size: 32px;
    }
    h1{
        font-size: 38px;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
    #product1 .pro{
        width: 100%;
    }

    /* Single Product */
    #prodetails{
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0;
    }
    #prodetails .single-pro-details{
        width: 100%;
    }
}